@font-face {
  font-family: 'Darker Grotesque';
  src: url('assets/fonts/DarkerGrotesque-Light.ttf') format('truetype'),
        url('assets/fonts/DarkerGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('assets/fonts/DarkerGrotesque-Regular.ttf') format('truetype'),
    url('assets/fonts/DarkerGrotesque-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('assets/fonts/DarkerGrotesque-Medium.ttf') format('truetype'),
        url('assets/fonts/DarkerGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('assets/fonts/DarkerGrotesque-SemiBold.ttf') format('truetype'),
          url('assets/fonts/DarkerGrotesque-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('assets/fonts/DarkerGrotesque-Bold.ttf') format('truetype'), 
        url('assets/fonts/DarkerGrotesque-Bold.ttf') format('truetype'),;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('assets/fonts/DarkerGrotesque-ExtraBold.ttf') format('truetype'),
        url('assets/fonts/DarkerGrotesque-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('assets/fonts/DarkerGrotesque-Black.ttf') format('truetype'),
        url('assets/fonts/DarkerGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
