.closeIconContainer--orderByDrawer {

    .closeIconButton--orderByDrawer {
        padding: 23px 19px 19px;
        .closeIcon--orderByDrawer {
            width: 14px;
            height: 14px;
        }
    }
    
}