:not(:global(.vtex-fake)) {    
    --white: #fff;
    --primary-dark: #000;
    --primary-default: #2D2D2D;
    --primary-light: #F4F4F4;
    --secondary-dark: #4a3c7d;
    --secondary-default: #1BA14E;
    --secondary-light: #21C05E;
    --system-alert-default: #e32000;
    --system-alert-light: #fee7e5;
    --system-warning-default: #ffe01a;
    --system-warning-light: #fefbc1;
    --system-success-default: #00a95b;
    --system-success-light: #e6f6ec;
    --darkgrey-dark: #000;
    --darkgrey-medium: #414042;
    --darkgrey-light: #999;
    --lightgrey-medium: #ccc;
    --lightgrey-light: #e5e5e5;
    --lightgrey-lighter: #f2f2f2;
    --link-default-small: 0.75rem;
    --link-default-medium: 0.88rem;
    --link-default-large: 1rem;
    --link-hover-small: 0.75rem;
    --link-hover-medium: 0.88rem;
    --link-hover-large: 1rem;
    --headline-h1: 2rem;
    --headline-h2: 1.5rem;
    --headline-h3: 1.25rem;
    --headline-h4: 1.12rem;
    --paragraph-large-bold: 1rem;
    --paragraph-large-medium: 1rem;
    --paragraph-large-regular: 1rem;
    --paragraph-medium-semibold: 0.88rem;
    --paragraph-medium-medium: 0.88rem;
    --paragraph-medium-regular: 0.88rem;
    --paragraph-small-bold: 0.75rem;
    --paragraph-small-medium: 0.75rem;
    --paragraph-small-regular: 0.75rem;
    --cta-large: 1rem;
    --cta-medium: 0.88rem;
    --cta-small: 0.69rem;
    --price-from: 0.75rem;
    --price-to: 1.12rem;
    --card-hover: 16px 0 8px rgba(0, 0, 0, 0.08);
    --card-default: 4px 0 2px rgba(0, 0, 0, 0.04);
    --red-text-highlight: #EA0808;
    --gray-light: #F4F4F4;
    --primary-lighter: #F4F4F4;

    font-family: "Darker Grotesque", sans-serif,
}
