.wishlistIconContainer {
    
    :global(.vtex-button) {
        background-color: transparent !important;
    }

    .fill {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='24' viewBox='0 0 28 24' fill='%23000'%3E%3Cpath d='M24.9952 2.53337C24.3599 1.88873 23.6056 1.37736 22.7754 1.02847C21.9451 0.679575 21.0553 0.5 20.1566 0.5C19.258 0.5 18.3681 0.679575 17.5379 1.02847C16.7077 1.37736 15.9534 1.88873 15.3181 2.53337L13.9997 3.87059L12.6812 2.53337C11.398 1.23186 9.65749 0.500675 7.84269 0.500675C6.0279 0.500675 4.28743 1.23186 3.00418 2.53337C1.72092 3.83488 1 5.6001 1 7.44072C1 9.28133 1.72092 11.0466 3.00418 12.3481L4.32264 13.6853L13.9997 23.5L23.6767 13.6853L24.9952 12.3481C25.6307 11.7037 26.1349 10.9387 26.4789 10.0967C26.8229 9.25467 27 8.35216 27 7.44072C27 6.52928 26.8229 5.62677 26.4789 4.78475C26.1349 3.94273 25.6307 3.1777 24.9952 2.53337V2.53337Z' stroke='black' fill='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

}

:global(.vtex-flex-layout-0-x-flexCol--product-images) {
    position: relative;
}